@import '../../../variables.scss';

.button {
    font-weight: 700;
    font-size: 16px;
    color: $purple;
    background-color: $light-lavender;
    border: 1px solid $purple;
    border-radius: 10px;

    &_active {
        background-color: $purple;
        color: $white;
    }

    @media screen and (max-width: 500px) {
        font-weight: 500;
        font-size: 12px;
    }
}